<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Inventario</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="">App inventario</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">				
				<li class="nav-item"><a class="nav-link" href="/">Inicio</a>
				</li>	
			</ul>			
		</div>
	</nav>

	<div class="container text-center">
		<div>
			<h1>Bienvenido a la aplicacion de inventario</h1>
		</div>
		<div class="p-2">
			<a class="h2" href="@{/categorias}">Lista de categorias</a>
		</div>
		<div class="p-2">
			<a class="h2" href="@{/categorias/nuevo}">Agregar Categoria</a>
		</div>
		<div class="p-2">
			<a class="h2" href="@{/productos}">Lista de productos</a>
		</div>
		<div class="p-2">
			<a class="h2" href="@{/productos/nuevo}">Agregar producto</a>
		</div>
	</div>

</body>
</html>

